$general-color: #2E6AFF;
$panel-txt: #0071FB;
$darken: #232323;
$white: #FFF;
$span: #707070;
$container-color: #E5E5E5;
$switch2: #2E6AFF;
$switch1: #232323;
$swithc-bckg: #F6F5F5;
$main-darken: #ABA7A7;
$black: #000;
$desc: #AFAFAF;
$line: #E8E8E8;
$txt-bckg: #F8FAFF;
$green: #37B96B;
$bookmark: #5284FF;
$btn-brd: #9BB8FF;
$red: #c35657;
